<div class="ytVideo" id="ytThumbnail">
    <div  id="ytPic"> <img src="../image/yt-profile/{{channelName}}.png"> </div>
        <div id="right-content"> 
            <div id="ytTitle"> <p > {{videoTitle}} </p>  </div>
            <div id="ytAuthor"> <p > {{channelName}} </p>  </div>
            <div id="ytIcons">
                    <img class="yt-icon" src="../image/small-icon/view-icon.png"> <p> {{viewsCount}} </p>
                    <img class="yt-icon" src="../image/small-icon/like-icon.png"> <p> {{likesCount}} </p>
                    <img class="yt-icon" src="../image/small-icon/comment-icon.png"> <p> {{commentsCount}} </p>
        </div>
    </div> 
</div>