<a class="ytVideo" id="ytThumbnail" href="https://www.youtube.com/watch?v={{videoId}}" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0, 0, 0, 0.8)), url({{videoThumbnail}})" target="_blank">
    <div id="ytPic"><img src="../image/yt-profile/{{channelName}}.jpg"></div>
    <div id="right-content">
        <div id="ytTitle"><p> {{videoTitle}} </p></div>
        <div id="ytAuthor"><p> {{channelName}} </p></div>
        <div id="ytIcons">
            <img class="yt-icon" src="../image/small-icon/view-icon.png">
            <p> {{nFormatter viewsCount 1}} </p>
            <img class="yt-icon" src="../image/small-icon/like-icon.png">
            <p> {{nFormatter likesCount 1}} </p>
            <img class="yt-icon" src="../image/small-icon/comment-icon.png">
            <p> {{nFormatter commentsCount 1}} </p>
        </div>
    </div>
</a>