<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
        <meta charset="UTF-8">
        <title>{{channelName}} | KadaCraft</title>
        <link rel="stylesheet" href="../css/Character.css"> 
        <link rel="stylesheet" href="../css/Profile.css">
        <link type="text/css" rel="stylesheet" href="../css/Font.css">
        <link rel="icon" type="image/png" href="../image/kadacraft_weblogo.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
        <script src="../js/Home.js"></script>
        <script src="../js/Profile.js" defer></script>
    </head>

    <body>

        <script>

            $(document).ready(function() {

                var channelName = "{{channelName}}";
                checkStats(channelName);

                $("#member-render").on("click", function() {
                    console.log("Easter Egg! The website was made by Atmospheric and Lloyd.");
                })

                var count = 1;
                var urlLink = "url('../image/members/builds/{{channelName}}/"+count+".png')"

                $("#builds-img").css("background-image", urlLink);

                $('#previous-img').click(function(){
                    if ( count == 1 ){
                        count = 4;
                    } else{
                        count--;
                    }
                    $("#builds-img").css("background-image", "url('../image/members/builds/{{channelName}}/"+count+".png')");
                })

                $('#next-img').click(function(){
                    if ( count > 3 ){
                        count = 1;
                    } else{
                        count++;
                    }
                    $("#builds-img").css("background-image", "url('../image/members/builds/{{channelName}}/"+count+".png')");
                })

                if ( channelName == "McHero" ){
                    $("#member-render").attr("src", "../image/members/"+channelName+"2.png");
                }else{
                    $("#member-render").attr("src", "../image/members/"+channelName+".png");
                }

                if ( channelName === "Edicius8-Bit"){
                    $("#member-render").hover(function(){
                        $("#member-render").attr("src", "../image/members/"+channelName+"2.png");
                    }, function(){
                        $("#member-render").attr("src", "../image/members/"+channelName+".png");
                    })
                }

                $("#work-button").click(function(){
                    $("#blur-background").css("display", "block");
                    $("#image-container").css("display", "block");
                    $("#image-container").html("<img id='builds-img' src='../image/members/builds/{{channelName}}/1.png'> <h1 class='no-highlight' id='img-exit'> X </h1> <h1 class='no-highlight' id='img-left'> < </h1> <h1 class='no-highlight' id='img-right'> > </h1> ");
                    
                    $("#img-exit").click(function(){
                        $("#blur-background").css("display", "none");
                        $("#image-container").css("display", "none");
                    });

                    $("#img-left").click(function(){
                        if ( count == 1 ){
                            count = 4;
                        } else{
                            count--;
                        }
                        $("#builds-img").attr("src", "../image/members/builds/{{channelName}}/"+count+".png");
                    });

                    $("#img-right").click(function(){
                        if ( count > 3 ){
                            count = 1;
                        } else{
                            count++;
                        }
                        $("#builds-img").attr("src", "../image/members/builds/{{channelName}}/"+count+".png");
                    });
                
                })

                

            })
            

        </script>

        <div class="banner" id="top"> 
            <img style="width: 100vw; height: 100vh; position: fixed; margin: auto; background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../image/members/backgrounds/{{channelName}}.png');  background-size: cover; background-attachment: fixed;  object-fit: cover; background-position: center; pointer-events: none;">
            <div class="navbar">
                <a class="facebook-btn" style="position:relative; left: 5%; cursor: pointer;" title="Facebook Group"><img src="../image/facebook_logo.png" class="facebook-img" id="facebook-links"></a>
                <div id="tooltip" style="position: relative; display: flex;">
                    <div id="tooltip-text" style="display: none; transform: translate(-42em, 5em);"> 
                        <a href="https://www.facebook.com/groups/KadaCraft" id="button-1" target="_blank"> <button> </button> </a>
                        <a href="https://www.facebook.com/KadaCraftSMP" id="button-2" target="_blank">  <button> </button> </a>
                    </div>
                    <a href="/"> <img id="kadacraftLogo-nav" src="../image/kadacraft_logo.png"> </a>
                </div>        
                <ul>
                    <li><a href="/" style="color: black; font-family: Minecraft; letter-spacing: 0.05em;" > Home </a></li>
                    <li><a href="/world" style="color: black; font-family: Minecraft; letter-spacing: 0.05em;"> Worlds </a></li>       
                </ul>
            </div>

            <div id="contents-container">
    
                <div id="ytVideo-container">

                    {{#each videos}}
                        {{> home_card}}
                    {{/each}}

                </div>


                <img id="member-render">

                <div id="playerDetails-container">

                    <div id="top">

                        <div id="channelName">
                            <p id="channelName-p">{{channelName}}</p>
                        </div>

                        <div id="channelSocials">
                            <a id="facebook-link"> <img src="../image/small-icon/facebook-icon.png"> </a>
                            <a id="youtube-link"> <img src="../image/small-icon/youtube-icon.png"> </a>
                            <a id="twitch-link"> <img src="../image/small-icon/twitch-icon.png"> </a>
                            <a id="tiktok-link"> <img src="../image/small-icon/tiktok-icon.png"> </a>
                        </div>

                    </div>


                    <div id="mid">
                        <div class="stat-name" id="first-stat-name"> BUILD </div>
                        <div class="stats-bar">
                            <div class="progress-bar" id="percentBar-1"> 100% </div>
                        </div>

                        <div class="stat-name" id="second-stat-name"> REDSTONE </div>
                        <div class="stats-bar">
                            <div class="progress-bar" id="percentBar-2"> 100% </div>
                        </div>

                        <div class="stat-name" id="third-stat-name"> ROLEPLAYING </div>
                        <div class="stats-bar">
                            <div class="progress-bar" id="percentBar-3"> 100% </div>
                        </div>
                    </div>


                    <div id="bottom">

                        <div id="description"> 
                            <p id="description-content"> 
                            </p> 
                        </div>

                    </div>
                    
                    
                    <div id="work-container">
                        <button id="work-button"> Show Works </button>
                    </div>
                    
                    
                </div>

                <div id="blur-background"></div>
                <div id="image-container">
                    
                </div>

            </div>

            
            

            
    </div>

        


    </body>
</html>
